<a href="https://colab.research.google.com/github/JezSeb/Programowanie/blob/main/Zadania_41_60.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def sort_ascending(d):
    return dict(sorted(d.items(), key=lambda item: item[1]))


def sort_descending(d):
    return dict(sorted(d.items(), key=lambda item: item[1], reverse=True))


sample_dict = {'b': 3, 'a': 1, 'c': 2}
print(sort_ascending(sample_dict))
print(sort_descending(sample_dict))

{'a': 1, 'c': 2, 'b': 3}
{'b': 3, 'c': 2, 'a': 1}

In [3]:
def add(d, key, value):
    d[key] = value
    return d

sample_dict = {0: 10, 1: 20}
print(sample_dict)
print(add(sample_dict, 2, 30))

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

In [4]:
def concatenate(*dicts):
    result = {}
    for d in dicts:
        result.update(d)
    return result

dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}
print(concatenate(dic1, dic2, dic3))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [13]:
def key_exists(d, key):
    return key in d

sample_dict = {'a': 1, 'b': 2, 'c': 3}
key = 'a'
print(key_exists(sample_dict, key))

True

In [28]:
sample_dict = {'a': 1, 'b': 2, 'c': 3}
for key, value in sample_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3

In [25]:
def squares_dict(n):
    result = {}
    for i in range(1, n + 1):
        result[i] = i * i
    return result

n = 5
print(squares_dict(n))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [26]:
def squares_dict(n):
    result = {}
    for i in range(1, n + 1):
        result[i] = i * i
    return result

n = 15
print("Dictionary:", squares_dict(n))

Dictionary: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [27]:
def merge_dicts(d1, d2):
    result = d1.copy()
    result.update(d2)
    return result

d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}
print(merge_dicts(d1, d2))

{'a': 300, 'b': 200, 'c': 300, 'd': 400}

In [29]:
sample_dict = {'a': 1, 'b': 2, 'c': 3}
for key, value in sample_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3

In [ ]:
def sum_dict_values(d):
    return sum(d.values())

sample_dict = {'a': 1, 'b': 2, 'c': 3}
print("Sum of all items:", sum_dict_values(sample_dict))

In [31]:
def multiply_dict_values(d):
    result = 1
    for value in d.values():
        result *= value
    return result

sample_dict = {'a': 1, 'b': 2, 'c': 3}
print(multiply_dict_values(sample_dict))

6

In [33]:
def remove_key_from_dict(d, key):
    if key in d:
        del d[key]
    return d

sample_dict = {'a': 1, 'b': 2, 'c': 3}
key_to_remove = 'b'
print("After removing:", remove_key_from_dict(sample_dict, key_to_remove))

After removing: {'a': 1, 'c': 3}

In [32]:
def lists_to_dict(keys, values):
    return dict(zip(keys, values))

keys = ['a', 'b', 'c']
values = [1, 2, 3]
print("Mapped:", lists_to_dict(keys, values))

Mapped: {'a': 1, 'b': 2, 'c': 3}

In [36]:
def sort_by_key(d):
    return dict(sorted(d.items()))

sample_dict = {'b': 3, 'a': 1, 'c': 2}
print("Sorted by key:", sort_dict_by_key(sample_dict))

Sorted by key: {'a': 1, 'b': 3, 'c': 2}

In [38]:
def max_min(d):
    return max(d.values()), min(d.values())

sample_dict = {'a': 1, 'b': 2, 'c': 3}
print("Max and min:", max_min(sample_dict))

Max and min: (3, 1)

In [40]:
class MyClass:
    def __init__(self):
        self.a = 1
        self.b = 2
        self.c = 3

def object_to_dict(obj):
    return obj.__dict__

obj = MyClass()
print(object_to_dict(obj))

{'a': 1, 'b': 2, 'c': 3}

In [45]:

def remove_duplicate_dicts(lst):
    unique_dicts = []
    seen = set()
    for d in lst:
        d_tuple = tuple(sorted((k, tuple(v)) for k, v in d.items()))
        if d_tuple not in seen:
            unique_dicts.append(d)
            seen.add(d_tuple)
    return unique_dicts

sample_data = [
    {'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}},
    {'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}},
    {'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}},
    {'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}}
]

print(remove_duplicate_dicts(sample_data))

[{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}}, {'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}}, {'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}]

In [55]:
my_dict = {}

if not bool(my_dict):
    print("Dictionary is empty")
else:
  print("The dictionary is not empty")

Dictionary is empty

In [58]:
from collections import Counter

def combine_dicts(d1, d2):
    return Counter(d1) + Counter(d2)

d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}
print(combine_dicts(d1, d2))

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [59]:
def unique_values(lst):
    values = set()
    for d in lst:
        for value in d.values():
            values.add(value)
    return values

sample_data = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
print("Unique Values:", unique_values(sample_data))

Unique Values: {'S002', 'S001', 'S009', 'S005', 'S007'}