<a href="https://colab.research.google.com/github/JezSeb/Programowanie/blob/main/Zadania_61_80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
result = [num for num in range(1500, 2701) if num % 7 == 0 and num % 5 == 0]
print(result)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [3]:
def celsius_to_fahrenheit(celsius):
    return celsius * 9/5 + 32

def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5/9

temp_celsius = 60
temp_fahrenheit = 45

print(f"{temp_celsius}째C is {celsius_to_fahrenheit(temp_celsius)} in Fahrenheit")
print(f"{temp_fahrenheit}째F is {fahrenheit_to_celsius(temp_fahrenheit)} in Celsius")

60째C is 140.0 in Fahrenheit
45째F is 7.222222222222222 in Celsius

In [4]:
import random

target = random.randint(1, 9)

while True:
    guess = int(input("Guess a number between 1 and 9: "))
    if guess == target:
        print("Well guessed!")
        break
    else:
        print("Try again!")

Guess a number between 1 and 9: 3
Try again!
Guess a number between 1 and 9: 4
Try again!
Guess a number between 1 and 9: 5
Try again!
Guess a number between 1 and 9: 7
Well guessed!

In [5]:
for i in range(6):
    print("* " * i)
for i in range(4, 0, -1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [6]:
word = input("Enter a word: ")
print(word[::-1])

Enter a word: word
drow

In [8]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
even_count = sum(1 for num in numbers if num % 2 == 0)
odd_count = len(numbers) - even_count

print(f"Number of even numbers: {even_count}")
print(f"Number of odd numbers: {odd_count}")

Number of even numbers: 4
Number of odd numbers: 5

In [9]:
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]

for item in datalist:
    print(f"{item} is of type {type(item)}")

1452 is of type <class 'int'>
11.23 is of type <class 'float'>
(1+2j) is of type <class 'complex'>
True is of type <class 'bool'>
w3resource is of type <class 'str'>
(0, -1) is of type <class 'tuple'>
[5, 12] is of type <class 'list'>
{'class': 'V', 'section': 'A'} is of type <class 'dict'>

In [10]:
for i in range(7):
    if i == 3 or i == 6:
        continue
    print(i, end=' ')

0 1 2 4 5

In [11]:
a, b = 0, 1
while a <= 50:
    print(a, end=' ')
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

In [12]:
for i in range(1, 51):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [13]:
rows = int(input("Enter the number of rows: "))
cols = int(input("Enter the number of columns: "))

result = [[i * j for j in range(cols)] for i in range(rows)]
print(result)

Enter the number of rows: 3
Enter the number of columns: 2
[[0, 0], [0, 1], [0, 2]]

In [41]:
lines = []
while True:
    line = input("Enter a line (blank line to terminate): ")
    if not line:
        break
    lines.append(line.upper())

for line in lines:
    print(line)

Enter a line (blank line to terminate): word
Enter a line (blank line to terminate): to
Enter a line (blank line to terminate): change
Enter a line (blank line to terminate):
WORD
TO
CHANGE

In [36]:
binary_numbers = input("Enter comma-separated 4-digit binary numbers: ").split(',')
result = [num for num in binary_numbers if int(num, 2) % 5 == 0]
print(','.join(result))

Enter comma-separated 4-digit binary numbers: 0100,0011,1010,1001,1100,1001
1010

In [16]:
text = input("Enter a string: ")
letters = sum(c.isalpha() for c in text)
digits = sum(c.isdigit() for c in text)
print(f"Letters: {letters}")
print(f"Digits: {digits}")

Enter a string: word
Letters: 4
Digits: 0

In [17]:
import re

def is_valid_password(password):
    if len(password) < 6 or len(password) > 16:
        return False
    if not re.search("[a-z]", password):
        return False
    if not re.search("[A-Z]", password):
        return False
    if not re.search("[0-9]", password):
        return False
    if not re.search("[$#@]", password):
        return False
    return True

password = input("Enter a password: ")
if is_valid_password(password):
    print("Valid password")
else:
    print("Invalid password")

Enter a password: password
Invalid password

In [18]:
result = [str(num) for num in range(100, 401) if all(int(digit) % 2 == 0 for digit in str(num))]
print(','.join(result))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [35]:
pattern = ""

for row in range(7):
    for col in range(7):
        if (col == 1 or col == 5) or ((row == 0 or row == 3) and (col > 1 and col < 5)):
            pattern += "*"
        else:
            pattern += " "
    pattern += "\n"

print(pattern)

 *****
 *   *
 *   *
 *****
 *   *
 *   *
 *   *

In [20]:
for i in range(7):
    if i == 0 or i == 6:
        print("**** ")
    else:
        print("*   *")

****
*   *
*   *
*   *
*   *
*   *
****

In [21]:
for i in range(7):
    if i == 0 or i == 3 or i == 6:
        print("*****")
    else:
        print("*")

*****
*
*
*****
*
*
*****

In [34]:
pattern = ""

for row in range(7):
    for col in range(7):
        if (col == 1 and (row != 0 and row != 6)) or ((row == 0 or row == 6) and (col > 1 and col < 5)) or ((row == 3) and (col > 2 and col < 6)) or (col == 5 and (row != 0 and row != 2 and row != 6)):
            pattern += "*"
        else:
            pattern += " "
    pattern += "\n"

print(pattern)

  ***
 *   *
 *
 * ***
 *   *
 *   *
  ***